.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}


.login-container .form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}


.login-container .form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login-container .form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
  transition: background-color 0.3s ease;
}

.login-container .form-toggle .active {
  background-color: #033452;
  color: white;
}


.login-container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .form h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #033452;
}


.login-container .form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  height: 42px;
  box-sizing: border-box;
}

.login-container .form input:focus {
  border-color: #033452;
  outline: none;
  box-shadow: 0 0 5px rgba(3, 52, 82, 0.5);
}


.login-container .form .inputText {
  align-self: flex-start;
  font-size: 14px;
  font-weight: bold;
  color: #033452;
  margin-bottom: 5px;
}


.password-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.password-container input {
  flex: 1;
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  height: 42px;
  box-sizing: border-box;
}


.password-container .eye-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.password-container .eye-icon:hover {
  color: #000;
}


.login-container .form input[type="date"] {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  height: 42px;
}


.login-container .form button {
  margin-top: 4px;
  width: 100%;
  padding: 12px;
  background-color: #033452;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-container .form button:hover {
  background-color: #021f33;
}


.login-container .forgot-password {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.login-container .forgot-password:hover {
  color: #0056b3;
}


.login-container .back-button {
  background: none;
  color: #033452;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}

.login-container .back-button:hover {
  color: #021f33;
}


.error-message {
  color: red;
  font-size: 12px;
}


.info-icon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
}

.info-icon:hover::after {
  content: attr(title);
  position: absolute;
  background: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  top: -25px;
  left: 20px;
  white-space: nowrap;
}