.sidebar {
    flex: 3;
    height: 100vh;
    position: sticky;
    top: 0;
    background: linear-gradient(135deg, #f0f0f0, #d6d6d6); 
    color: #2c2c2c; 
    overflow-y: auto;
    scrollbar-width: thin;
    border-right: 1px solid #b0b0b0;
    padding-top: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
}

.sidebarWrapper {
    padding: 15px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    color: #2c2c2c; 
}

.sidebarListItem:hover {
    background: rgba(50, 50, 50, 0.1); 
    transform: translateX(3px);
}

.sidebarIcon {
    margin-right: 14px;
    color: #4a4a4a; 
    font-size: 22px !important;
}

.sidebarListItemText {
    font-size: 15px;
}

.sidebarButton {
    width: 100%;
    border: none;
    padding: 12px;
    background: linear-gradient(90deg, #575757, #3c3c3c); 
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    transition: all 0.3s ease;
}

.sidebarButton:hover {
    background: linear-gradient(90deg, #3c3c3c, #2c2c2c);
    transform: scale(1.05);
}

.sidebarHr {
    border: 0;
    height: 1px;
    background: #a0a0a0;
    margin: 15px 0;
}

.sidebarFriendList {
    padding: 0;
    margin-top: 10px;
    list-style: none;
}









